#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.lab.local

users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

# Key-based access only
ssh_pwauth: false
disable_root: true

growpart:
  mode: auto
  devices: ["/"]
