#cloud-config
hostname: centos7
fqdn: centos7.local

users:
  - name: centos
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

# Key-based access only
ssh_pwauth: false
disable_root: true

growpart:
  mode: auto
  devices: ["/"]
